.main-container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 50px;
  .search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    padding-top: 10px;

    width: 75%;
    margin: auto;
    .button-container {
      .button {
        background-color: aquamarine;
      }
    }
  }

  .table-container {
    width: 100%;
    table {
      width: 100%;
    }
  }
}
