<div class="main-container">

  <div class="search-bar">
    <div class="sku-input">
      <mat-form-field appearance="fill">
        <mat-label>Sku</mat-label>
        <input matInput type="text" [(ngModel)]="productSku">
      </mat-form-field>
    </div>
    <div class="date-selector">
      <mat-form-field appearance="fill">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" [formControl]="date">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="button-container">
      <button mat-button (click)="searchItems()" class="button">Search</button>
    </div>
  </div>

  <mat-card class="card" *ngIf="productInfo">
    <div class="product-container">
      <h4>Product info at date {{formattedDate}}:</h4>
      <p>Sku: {{productInfo.sku}}</p>
      <p>Name: {{productInfo.name}}</p>
      <p>Price: {{productInfo.finalprice}}</p>
    </div>
  </mat-card>

</div>
