html {
  height: 100%;
}

.mainContainer {
  height: 100vh;
  display: block;
  justify-content: center;
  background-color: #34495eff;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin: auto;
  padding-top: 16rem;
  text-align: center;
}

.logo {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.button {
  text-align: center;
  font-size: 26px;
  margin-top: 70px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#button {
  background-color: #29b6d8ff;
  width: 300px;
}
