<div class="mainContainer">
    <div class="dataContainer">
      <div class="title">
        Inventory Management System
      </div>
      <div class="button">
        <button id="button" mat-button (click)="connectWallet()">
          <mat-icon>account_balance_wallet</mat-icon>
          Connect wallet
        </button>
      </div>
    </div>
    <div class="images-container">
      <div class="image-container">
        <img src="../../assets/img/inventory-control.jpg" class="image-left">
      </div>
      <div class="image-container">
        <img src="../../assets/img/inventory.svg" class="image-right">
      </div>
    </div>
</div>
