<div class="grid">
  <div class="block">
    <button mat-button class="button" [routerLink]="['/manage/add_product']">
      <mat-icon class="icon">add</mat-icon>
      <span>Add product</span>
    </button>
  </div>
  <div class="block">
    <button mat-button class="button" [routerLink]="['/manage/delete_product']">
      <mat-icon class="icon">delete</mat-icon>
      <span>Delete product</span>
    </button>
  </div>
  <div class="block">
    <button mat-button class="button" [routerLink]="['/manage/order_product']">
      <mat-icon class="icon">edit</mat-icon>
      <span>Order product</span>
    </button>
  </div>
  <div class="block">
    <button mat-button class="button" [routerLink]="['/manage/replenish_stock']">
      <mat-icon class="icon">edit</mat-icon>
      <span>Replenish stock</span>
    </button>
  </div>
  <div class="block">
    <button mat-button class="button" [routerLink]="['/manage/change_price']">
      <mat-icon class="icon">edit</mat-icon>
      <span>Change price</span>
    </button>
  </div>
</div>
